<article class="article content-layout">
    {% if hasHeadlineLink|default(false) %}
        <h2 class="article__headline"><a href="{{ article.articleUrl }}">{{ article.title }}</a></h2>
    {% else %}
        <h1 class="article__headline">{{ article.title }}</h1>
    {% endif %}

    {#
    {% if article.thumbnail.toFile() %}
        <img src="{{ article.thumbnail.toFile().url }}" width="200" alt="">
    {% endif %}
    #}

    {% for block in article.text.toBlocks %}
        {{ block|raw }}
    {% endfor %}

    <footer class="article__footer">
        <time datetime="{{ article.date.strtotime() }}"><a href="{{ article.articleUrl }}">{{ article.date.toDate("dd. MMMM YYYY") }}</a> &mdash; {{ article.date.toDate("HH:mm") }} Uhr</time>
        {# &middot;
        {% for category in article.categories().split() %}
            <a href="{{ url('/kategorie/' ~ category) }}">{{ category }}</a>
        {% endfor %}
        #}
    </footer>
</article>
