<article class="article">
    {% if hasHeadlineLink|default(false) %}
        <h1><a href="{{ article.articleUrl }}">{{ article.title }}</a></h1>
    {% else %}
        <h1>{{ article.title }}</h1>
    {% endif %}

    {% if article.thumbnail.toFile() %}
        <img src="{{ article.thumbnail.toFile().url }}" width="200" alt="">
    {% endif %}

    {% for block in article.text.toBlocks %}
        {{ block|raw }}
    {% endfor %}

    <footer>
        <time datetime="{{ article.date.strtotime() }}">{{ article.date.toDate("d. F Y - H:i") }} Uhr</time>
        {# &middot;
        {% for category in article.categories().split() %}
            <a href="{{ url('/kategorie/' ~ category) }}">{{ category }}</a>
        {% endfor %}
        #}
    </footer>
</article>
