{% extends 'layout.twig' %}

{% block content %}
  <article>
    <h1>{{ page.title }}</h1>

    {% if page.thumbnail.toFile() %}
      <img src="{{ page.thumbnail.toFile().url }}" width="200">
    {% endif %}

    {% for block in page.text.toBlocks %}
      <div id="{{ block.id }}" class="block block-type-{{ block.type }}">
        {{ block|raw }}
      </div>
    {% endfor %}
  </article>
{% endblock %}