{% extends 'layout.twig' %}

{% block content %}
    {% set articles = page('blog').grandChildren().flip().paginate(10) %}

    {% for article in articles %}
        {% include "partials/_article.twig" with { 'hasHeadlineLink' : true } %}
    {% endfor %}

    {% set pagination = articles.pagination()  %}
    <nav>
        <ul>

            {% if (pagination.hasPrevPage()) %}
                <li>
                    <a href="{{ pagination.prevPageURL() }}">‹</a>
                </li>
            {% else %}
                <li>
                    <span>‹</span>
                </li>
            {% endif %}

            {% for r in pagination.range(10) %}
                <li>
                    <a{{ pagination.page() == r ? ' aria-current="page"' : '' }} href="{{ pagination.pageURL(r) }}">
                        {{ r }}
                    </a>
                </li>
            {% endfor %}

            {% if (pagination.hasNextPage()) %}
                <li>
                    <a href="{{ pagination.nextPageURL() }}">›</a>
                </li>
            {% else %}
                <li>
                    <span>›</span>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endblock %}
