<!DOCTYPE html>
<html>
    <head>
        {% if page.title == "Blog" %}
            <title>{{ site.title }}</title>
        {% else %}
            <title>{{ page.title }} | {{ site.title }}</title>
        {% endif %}

        {{ css('assets/css/style.css') }}
        {{ css('@auto') }}
    </head>

    <body>
        <header class="site-header">
            <div class="site-header__content">
                <a href="{{ site.url }}">der tag und ich</a>
            </div>
        </header>

        <main>
            {% block content %}
                <p>Huch.</p>
            {% endblock %}
        </main>
    </body>
</html>
