<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% if page.title == "Blog" %}
            <title>{{ site.title }} › Alltäglich belangloses </title>
        {% else %}
            <title>{{ page.title }} › {{ site.title }} › Alltäglich belangloses </title>
        {% endif %}


        {{ css('assets/css/style.css') }}
        {{ css('@auto') }}

        <link rel="alternate" type="application/rss+xml" title="der tag und ich" href="{{ site.url }}/feed.xml">
    </head>

    <body>
        <header class="site-header">
            <div class="site-header__content">
                <a href="{{ site.url }}">der tag und ich</a>
            </div>
        </header>

        <main>
            {% block content %}
                <p>Huch.</p>
            {% endblock %}
        </main>

        <footer class="site-footer">
            <nav>
                <ul class="footer-navigation">
                    <li class="footer-navigation__item">
                        <a href="{{ site.url }}/impressum/" class="footer-navigation__link">Impressum</a>
                    </li>
                    <li class="footer-navigation__item">
                        <a href="{{ site.url }}/datenschutzerklaerung/" class="footer-navigation__link">Datenschutzerklärung</a>
                    </li>
                    <li class="footer-navigation__item">
                        <a href="https://creativecommons.org/licenses/by-sa/3.0/de/" class="footer-navigation__link">CC-BY-SA</a>
                    </li>
                </ul>
                <ul class="footer-navigation">
                    <li class="footer-navigation__item">
                        <a class="footer-navigation__link" href="https://martinschneider.me" rel="me">martinschneider.me</a>
                    </li>
                    <li class="footer-navigation__item">
                        <a class="footer-navigation__link" href="https://mastodon.social/@schneyra" rel="me">Mastodon</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
